/build*
/.clangd
/.cache
/.vscode
/.zed
/dist
/docs
/rust/Cargo.lock
/rust/target
/.claude
/.codegraph
/.github
/licenses
/screenshots
/*.7z
/*.tar.xz
/*.tar.gz
/*.zip
/*.md
/.clang-format
/.clang-tidy
/.gitignore
/Dockerfile
/lua.exe
